/* imports */
@import url(../root.css);
/* imports */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin: 1.5rem;
}

h1{
    font-family: 'Bungee', sans-serif;
    font-size: 40px;
    margin: 2rem 0 1rem 0;
    text-align: center;
}

h3{
    color: var(--preto);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 2rem 0 5px 1rem;
}
